<div>
    <img class="home-image" src="../../../assets/img/R.jpg"/>
</div>

<div class="row" id="resultCards">
    <div class="col-lg-3 col-md-4 col-sm-3 col-xs-3">
        
</div>
<div class="col-lg-3 col-md-4 col-sm-3 col-xs-3" >
    <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Header</div>
        <div class="card-body">
          <h5 class="card-title">Location</h5>
          <p class="card-text">hhhhhhhhhhhj
            <br>
            uiiui
          </p>
          <p class="card-text">ghghg</p><span></span>
        </div>
    </div>
</div>
</div>