<div>
    <img class="home-image" src="../../../assets/img/R.jpg"/>
</div>




  <section id="grant-services" class="grant-services">
    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div *ngFor="let sg of availableScholarshipsGrants" class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href={{sg.sg_application_link}}>{{sg.sg_name}}</a></h4>
            <p class="description">Deadline : {{sg.sg_deadline}}</p>
            <p class="description">Amount : {{sg.sg_award_amount}}</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapse' + availableScholarshipsGrants.indexOf(sg)" aria-expanded="false" [attr.aria-controls]="'collapse' + availableScholarshipsGrants.indexOf(sg)">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" #elem [id]="'collapse' + availableScholarshipsGrants.indexOf(sg)">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>{{sg.sg_offered_by}}</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>{{sg.sg_nationality}}</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>{{sg.sg_description}}</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>{{sg.sg_requirements.essay ? "Yes" : "No"}}</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>{{sg.sg_requirements.recommendations ? "Yes" : "No"}}</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>{{sg.sg_requirements.min_gpa}}</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>{{sg.sg_major}}</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>{{sg.sg_type}}</div></li>
                              <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href={{sg.sg_application_link}}>Apply</a>
                                </div>
                          </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
  
    </div>
  </section><!-- End Featured Services Section -->

 