<div>
    <img class="home-image" src="../../../assets/img/R.jpg"/>
</div>




  <section id="grant-services" class="grant-services">
    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="https://www.nitrocollege.com/nitro-scholarship-application?utm_source=cpc&utm_medium=niche&utm_campaign=niche_student_2K">$ 2,000 Nitro Scholarship No Essay Required</a></h4>
            <p class="description">Deadline : November 30, 2023</p>
            <p class="description">Amount : $1,000</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse1" aria-expanded="false" aria-controls="collapse1">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" id="collapse1">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>Nitrocollege.com</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>Nationwide</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>Over $100K awarded since 2016. No Essay or account sign-ups, just a simple scholarship for those seeking help in paying for school.</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>No</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>No</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>None</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>Any Major</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>Generic</div></li>
                   <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href="https://www.nitrocollege.com/nitro-scholarship-application?utm_source=cpc&utm_medium=niche&utm_campaign=niche_student_2K">Apply</a>
                                </div>
                             
                          
                          </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="https://scholarshipowl.com/awards/smart-owl-scholarship?transaction_id=102024816f7663033c60503d486414&offer_id=24&affiliate_id=1345&aff_sub=&aff_sub2=&aff_sub3=&aff_sub4=&aff_sub5=">$2,222 No Essay Smart Owl Scholarship</a></h4>
            <p class="description">Deadline : November 30, 2022</p>
            <p class="description">Amount : $2,222</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse2" aria-expanded="false" aria-controls="collapse2">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" id="collapse2">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>ScholarshipOwl</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>Nationwide</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>Be a “smart owl” and apply for the scholarship that gives you a shot at $2,222. You can also use a 7-day free trial on the leading one-stop ScholarshipOwl’s platform where you can apply for EVEN MORE scholarships!</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>No</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>No</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>None</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>Any Major</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>Generic</div></li>
                   <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href="https://scholarshipowl.com/awards/smart-owl-scholarship?transaction_id=102024816f7663033c60503d486414&offer_id=24&affiliate_id=1345&aff_sub=&aff_sub2=&aff_sub3=&aff_sub4=&aff_sub5=">Apply</a>
                                </div>
                             
                          
                          </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="https://www.dosomething.org/us/campaigns/make-stem-100-guide?&utm_source=scholarship_featured&utm_medium=referral&utm_campaign=niche_stem1_2022_11">$2,000 Make STEM 100%: Share a Resource Guide Scholarship</a></h4>
            <p class="description">Deadline : December 31, 2022</p>
            <p class="description">Amount : $2,000</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse3" aria-expanded="false" aria-controls="collapse3">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" id="collapse3">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>DoSomething</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>National</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>In the US, only twenty percent of high school graduates are prepared for college-level coursework in STEM. And let’s be real–that number is wayyy too low! Share our resource guide to demystify STEM and equip you (and your friends!) with the information needed to build your roadmap in the field. Let’s work together to Make STEM 100%! By sharing the guide with your friends, you can earn a $2,000 scholarship!</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>No</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>No</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>None</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>Any Major</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>Generic</div></li>
                   <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href="https://www.dosomething.org/us/campaigns/make-stem-100-guide?&utm_source=scholarship_featured&utm_medium=referral&utm_campaign=niche_stem1_2022_11">Apply</a>
                                </div>
                             
                          
                          </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="https://www.niche.com/colleges/scholarships/coca-cola-scholars-foundation/">Coca-Cola Scholars Scholarships - $20,000</a></h4>
            <p class="description">Deadline : October 31, 2023</p>
            <p class="description">Amount : $20,000</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" id="collapse4">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>Coca-Cola Scholars Foundation</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>Nationwide</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>
                          The Coca-Cola Scholars Program Scholarship is an achievement-based scholarship awarded to graduating high school seniors each year. Students are recognized for their capacity to lead and serve, and their commitment to making a significant impact on their schools and communities.</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>No</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>No</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>Unknown</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>Any Major</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>Generic</div></li>
                   <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href="https://www.niche.com/colleges/scholarships/coca-cola-scholars-foundation/">Apply</a>
                                </div>
                             
                          
                          </ul>
              </div>
            </div>
          </div>
        </div>
  
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="https://www.niche.com/colleges/scholarships/dr-pepper-tuition-giveaway/">Dr. Pepper Tuition Giveaway- $100,000</a></h4>
            <p class="description">Deadline : Varies</p>
            <p class="description">Amount : $100,000</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse5" aria-expanded="false" aria-controls="collapse5">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" id="collapse5">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>Dr. Pepper/Seven Up, Inc.</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>Nationwide</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>
                          This is a nationwide annual sweepstakes with 16 different awards to cover tuition and other educational related expenses.</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>Yes</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>No</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>None</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>Any Major</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>Generic</div></li>
                   <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href="https://www.niche.com/colleges/scholarships/dr-pepper-tuition-giveaway/">Apply</a>
                                </div>
                             
                          
                          </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="https://scholars.horatioalger.org/about-our-scholarship-programs/targeted-scholarships/">Mel Klein Scholarship - Minimum 2.50 GPA</a></h4>
            <p class="description">Deadline : Varies</p>
            <p class="description">Amount : $10,000</p>

            <br>
            <p>
              <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Scholarship Details
              </button>
            </p>
            <div class="collapse" id="collapse6">
              <div class="card card-body">
                <ul>
                  <li>
                    <div> <h5 class="card-title">Offered By</h5></div>
                    <div>Horatio Alger Association of Distinguished Americans, Inc</div></li>
                    <li>
                      <div> <h5 class="card-title">State</h5></div>
                      <div>Nationwide</div></li>
                      <li>
                        <div> <h5 class="card-title">Description</h5></div>
                        <div>
                          
This scholarship provides aid to current high school seniors who are planning to pursue a degree at Colgate University, Columbia University, Stanford University, or Tulane University.</div></li>
                        <li>
                          <div></div>
                          <div>
                            <ol>
                              <li>Essay Required:&nbsp;
                                <span>Unknown</span>
                              </li>
                              <li>Recommendations Required:&nbsp;
                                <span>Unknown</span>
                              </li>
                                <li>Minimum GPA:&nbsp;
                                  <span>2.50</span>
                                </li>
                              </ol>
                            </div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Major</h5></div>
                            <div>Any Major</div>
                          </li>
                          <li>
                            <div> <h5 class="card-title">Type</h5></div>
                            <div>Generic</div></li>
                   <br>
                                <div>
                                  <a class="btn btn-primary" type="button"  href="https://scholars.horatioalger.org/about-our-scholarship-programs/targeted-scholarships/">Apply</a>
                                </div>
                             
                          
                          </ul>
              </div>
            </div>
          </div>
        </div>

      </div>
  
    </div>
  </section><!-- End Featured Services Section -->

 