
<div>
    <img class="home-image" src="../assets/img/college-graduation.webp"/>
</div>

<section id="featured-services" class="featured-services">
    <div class="container" data-aos="fade-up">
  
      <div class="row">
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
            <div class="icon"><i class="bx bxl-dribbble"></i></div>
            <h4 class="title"><a href="/schoolcost">School Costs</a></h4>
            <p class="description">School Tuition Costs vary on a number of things, the biggest being whether you are a resident or nonresident of the state you are looking for. nTuition provides an excellent way to see how much it would cost to pursue certain course at a certain school.</p>
          </div>
        </div>
  
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
            <div class="icon"><i class="bx bx-file"></i></div>
            <h4 class="title"><a href="/loancalc">Loan Calculator</a></h4>
            <p class="description">It's critical to comprehend how student loans operate and what your monthly obligations will be once you graduate. You may determine your student loan payments using this calculator by entering your loan amount, interest rate, and loan length.</p>
          </div>
        </div>
  
        <div class="col-md-8 col-lg-4 d-flex align-items-stretch mb-5 mb-lg-0">
          <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
            <div class="icon"><i class="bx bx-tachometer"></i></div>
            <h4 class="title"><a href="/grants">Grants & Scholarships</a></h4>
            <p class="description">Start applying for scholarships today, no matter what year in school, no matter your financial or academic situation, you are more than likely going to need all the help you can get paying for college. Check out Scholarships page to see featured scholarships.</p>
          </div>
        </div>
  
  
      </div>
  
    </div>
  </section><!-- End Featured Services Section -->
  